body{
	background-color:black;
}
*{
	color:black;
}
.intervistato{
	align:right;
	text-align:right;
}
.intervistatore{
	align:left;
	text-align:left;
}
p{
	border:2px solid white;
	border-radius:10%;
}
p.intervistato{
    background-color: orange;
}
p.intervistatore{
    background-color: yellow;
}
div{
	background-color:rgba(0,0,0,0);
}
div.intervistato{
	margin-left: 30%;
}
div.intervistatore{
	max-width:70%;
}
