body{
	background-color:black;
}
*{
	color:black;
}
.intervistato{
	text-align:right;
}
.intervistatore{
	text-align:left;
}
p.intervistato{
    background-color: orange;
}
p.intervistatore{
    background-color: yellow;
}
div{
	width:100%;
	background-color:rgba(0,0,0,0);
}
div.intervistato{
	margin-left:auto;
}
div.intervistatore{
	margin-right:auto;
}
div.interno{
	max-width:70%;
}
